.about-us-container {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .about-us-content {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .team {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .team-member {
    width: 30%;
  }
  
  .team-member h3 {
    color: #007bff;
  }
  
  .team-member p {
    color: #6c757d;
  }
  
  .features .feature-card .feature-link:focus {
    color: #1c7a75; /* Keep color on hover */
    text-decoration: none; /* Ensure no underline on hover */
  }